.card-wrapper {
    background-color: white;
    padding: 30px;
    margin: 10px;
    .card-container {
        .img-section {
            width: 100%;
            background-color: lightgray;

            .brand-logo {
                width: 100%;
            }
        }
        .img-heading {
            margin: 5px 0px 5px 0px;
            color: darkblue;
            font-family: oswald;
            font-size: 20px;
        }
        .card-info {
            .heading-label-top {
                .card-label-top {
                    font-size: 18px;
                    font-weight: bold;
                    margin: 0px;
                    font-family: "open sans";
                }
                ul {
                    margin: 10px 0px 5px 0px;
                    font-family: "open sans";
                    color: gray;
                }
            }
            .heading-label {
                padding: 5px 5px 5px 0px;
                // font-family: open serif;
                display: flex;
                // width: 100px;
                .card-label {
                    font-size: 18px;
                    font-weight: bold;
                    margin: 0px;
                    font-family: "open sans";
                }
                .card-sub-label {
                    font-size: 18px;
                    font-weight: 100;
                    margin: 0px;
                    font-family: "open sans";
                    color: gray;
                    margin-left: 8px;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .card-wrapper{
        margin: 8px;
        padding: 25px;
    }
}

@media screen and (min-width: 1024px) {
    .card-wrapper{
        margin: 8px;
    }
}
