.filter-wrapper {
    width: 100%;
    padding-bottom: 0px;

    .filter-section {
        background-color: white;
        margin: 10px;
        .heading {
            margin: 0px;
            padding: 5px;
            border-bottom: 1px solid lightgray;
            display: flex;
            justify-content: center;
        }

        .options {
            width: 80%;
            display: grid;
            grid-template-columns: auto auto;
            text-align: center;
            list-style-type: none;
            padding-inline-start: 30px;
            margin: 5px;
            li {
                padding: 3px;
                margin: 5px;
                width: 50px;
                height: 20px;
                border-radius: 10px;
                p{
                    margin: 0px;
                }
            }
        }
    }
    .card-section {
        display: block;
    }
}

@media screen and (min-width: 768px) {
    .filter-wrapper {
        padding: 0px;
        .filter-section {
            .heading{
                margin: 0px;
                padding: 5px;

            }
            .options{
                padding-inline-start: 15px;
                margin: 5px;
                li{
                    padding: 3px;
                }
            }
        }
        .card-section {
            display: grid;
            grid-template-columns: auto auto;
        }
    }
}

@media screen and (min-width: 1024px) {
    .filter-wrapper {
        .filter-section {
            .options{
                
            }
        }
        .card-section {
            display: grid;
            grid-template-columns: auto auto auto auto;
        }
    }
}
