.filter-wrapper {
    width: 100%;

    .filter-section {
        background-color: white;
        margin: 10px;
        .heading {
            margin: 10px;
            padding: 8px;
            border-bottom: 1px solid lightgray;
            display: flex;
            justify-content: center;
        }

        .options {
            width: 80%;
            display: grid;
            grid-template-columns: auto auto;
            justify-content: space-around;
            text-align: center;
        }
    }
    .card-section {
        display: block;
    }
}

@media screen and (min-width: 768px) {
    .filter-wrapper {
        .filter-section {
        }
        .card-section {
            display: grid;
            grid-template-columns: auto auto;
        }
    }
}

@media screen and (min-width: 1024px) {
    .filter-wrapper {
        .filter-section {
        }
        .card-section {
            display: grid;
            grid-template-columns: auto auto auto auto;
        }
    }
}
